:root {
  --Violet: hsl(257, 40%, 49%);
  --SoftMagenta: hsl(300, 69%, 71%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Violet);
}

.huddle img {
  width: 14em;
  margin: 60px 55px;
}
.headings {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  padding: auto;
}
.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardImage img {
  width: 50vw;
}

.zone {
  margin: 10px 20px;
}
.cardBuild {
  width: 38vw;
  padding: 0 40px 80px 40px;
}
.cardBuild h2,
p {
  color: white;
}
.cardBuild p {
  font-weight: 300px;
  font-size: 16px;
}
.cardBuild h2 {
  padding-bottom: 20px;
  font-weight: 400px;
  font-size: 2.5em;
}
.register a {
  background-color: white;
  color: var(--Violet);
  border-radius: 40px;
  padding: 15px 70px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  text-decoration: none;
  font-size: 25px;
}
.register {
  margin-top: 60px;
}

.socialAdress {
  display: flex;
  flex-direction: row;
  margin-left: 85vw;
}
.socialAdress  {
  width: 8em;
}
.socialAdress svg {
  fill: white;
}

.socialAdress svg:active,.register a:active {
  cursor: pointer;
  fill: var(--SoftMagenta);
 
}
.register a:active {
  cursor: pointer;
  
  background-color: var(--SoftMagenta);
}


.attribution a {
  color: rgb(253, 83, 176);
}
@media only screen and (max-width: 600px) {
  body {
    background-size: contain;
    background-position: top;
  
   
    
  }
  .contentWrapper {
    flex-direction: column;
  }

  .huddle img {
    width: 8em;
    margin: 20px 2px;
  }

  .cardImage img {
    width: 85vw;
    margin-bottom: 40px;
  }
  .cardBuild {
    width: 90vw;
    text-align: center;
    padding: 0 15px 0 15px;
  }
  .cardBuild p {
    font-size: 16px;
  }
  .cardBuild h2 {
    font-size: 25px;
    font-weight: 400px;
  }
  .register a {
    font-size: 12px;
    padding: 10px 70px;
    
  }
  .register {
    margin-bottom: 80px;
    margin-top: 30px;
  }
  .socialAdress {
    margin-left: 36vw;
    margin-top: 0;
    margin-bottom: 30px;
    width: 5.5em;
   
  }

}
