:root {
  --Violet: hsl(257, 40%, 49%);
  --SoftMagenta: hsl(300, 69%, 71%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Violet);
}

.huddle img {
  width: 20em;
  margin: 20px 50px;
}
.headings {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;

  padding: auto;
}
.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardImage img {
  width: 53vw;
}
.zone {
  margin: 10px 20px;
}
.cardBuild {
  width: 47vw;
  padding: 0 30px 80px 30px;
}
.cardBuild h2,
p {
  color: white;
}
.cardBuild p {
  font-weight: 400px;
  font-size: 20px
}
.cardBuild h2 {
  padding-bottom: 20px;
  font-weight: 600px;
  font-size: 3em;
}
.register a {
  background-color: white;
  color: var(--Violet);
  border-radius: 40px;
  padding: 15px 80px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  text-decoration: none;
  font-size: 30px;
}
.register {
  margin-top: 60px;
}

.socialAdress {
  display: flex;
  flex-direction: row;
  margin-left: 80vw;
}
.socialAdress img {
  width: 5em;
  padding: 5px;
}
.attribution a {
  color: rgb(253, 83, 176);
}
@media only screen and (max-width: 600px) {
  .contentWrapper {
    flex-direction: column;
  }

  .huddle img {
    width: 6em;
    margin: 10px 2px;
  }

  .cardImage img {
    width: 70vw;
    margin-bottom: 40px;
  }
  .cardBuild {
    width: 70vw;
    text-align: center;
  }
  .cardBuild p {
    font-size: 14px;
  }
  .cardBuild h2 {
    font-size: 18px;
    font-weight: 400px;
  }
  .register a{
    font-size: 15px;
    padding: 10px 50px;
  }
  .register {
    margin-bottom: 0px;
  }
  .socialAdress {
    margin-left: 36vw;
    margin-top: 0;
  }
  .socialAdress img{
    width: 2em;
  }
}
